.Player {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  padding-top: 2rem;
  margin-top: 2rem;
  margin-bottom: 6.33rem;
  /* width: 45%; */
  /* max-height: 100px; */
  /* background-color: rgba(45, 46, 51, 0.7); */
  /* box-shadow: 0 4px 2px 2px #000000; */
}

@media only screen and (max-width: 1020px) {
  .Player {
    width: 90%;
  }
}
